@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860

    Ideally this will have a searchbox, calendar, maybe list of games/second calendar on side
    Model will likely be list of games
    look into partial views?
*@
@{
}
@*
@model GameTracker.ViewModels.GameViewModelWrapper

@model List<GameTracker.Models.Result>
*@
@model IList<GameTracker.Models.Game>
<h2>Search for new games:</h2>
<form asp-controller="Search" asp-action="Results" method="post">
    <input type="text" name="searchstring">
    <input type="submit" value="Search" />
</form>
<h2>Recent games:</h2>
@if (Model != null)
{
    <form asp-controller="Search" asp-action="AddRecentGame" method="post">
                @foreach (var g in Model)
                {
                    <p><input type="radio" name="gameid" value="@g.ID" /> @g.Name @g.Original_release_date.ToString("MMMM dd, yyyy") @g.Platform.Name @g.MostRecentlyAdded <img src="@g.GameImages.Icon_url"></p>
        }
        <input type="submit" value="Add Recent Game" />
        </form>
}
